.dev-history-container h1 {
    text-align: center;
    color: white;
    font-size: 54px;
}

.dev-history-container p {
    text-align: center;
    color: white;
    font-size: 25px;
}

.dev-history-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}