.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(61, 61, 61), transparent)
}

.navbar a {
    padding: 17px 37px;
    float: right;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: all 0.5s;
}

.navbar a:hover {
    transform: scale(1.2);
    cursor: pointer;
}