.secret-message-container h1 {
    text-align: center;
    color: white;
    font-size: 120px;
}

.secret-message-container p {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 31px;
}